<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KhataBook</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100">
    <div class="main relative">
      <nav
        class="flex items-center justify-between p-4 bg-blue-500 text-white px-10"
      >
        <h2 class="text-2xl font-bold">KhataBook</h2>
        <div class="flex space-x-4">
          <a href="/" class="cursor-pointer hover:text-gray-200">Home</a>
          <a href="/create" class="cursor-pointer hover:text-gray-200"
            >Create New Hisab</a
          >
        </div>
      </nav>
      <h1 class="text-3xl mt-10 font-bold text-gray-800 text-center">
        Edit Hisab
      </h1>
      <div id="page"
        class="page p-8 mx-auto max-w-4xl bg-white shadow-md rounded-lg mt-6 hidden"
      >
        <form action="/edit/<%= data._id %>" method="post" class="space-y-6">
          <label class="block w-full p-4 text-3xl font-bold text-gray-800 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-blue-500">
            <%= data.title %>
          </label>
          
          <textarea
            name="content"
            class="block w-full h-48 p-4 text-xl border-2 border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Enter the Hisab"
            required
          >
          <%= data.content %></textarea
          >
          <div class="flex items-center space-x-2">
            <input
              type="checkbox"
              id="encrypt"
              class="form-checkbox text-blue-600"
              name="encrypt"
            />
            <label for="encrypt" class="text-lg font-medium text-gray-700"
              >Encrypt this file?</label
            >
          </div>
          
            <div class="flex items-center space-x-2 mb-2">
              <input
                type="checkbox"
                id="shareable"
                class="form-checkbox text-blue-600"
                name="shareable"
              />
              <label for="shareable" class="text-lg font-medium text-gray-700"
                >Shareable file?</label
              >
            </div>
          <input
            type="password"
            name="password"
            class="block w-full p-4 text-lg border-2 border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Password"
          />
          <button
            type="submit"
            class="block w-full py-4 text-xl font-semibold text-white bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none"
          >
            Submit
          </button>
        </form>
      </div>
      <div id="encrypted">
        <div class="max-w-md mx-auto my-36 bg-white rounded p-6 shadow-md">
            <h1 class="text-xl font-bold mb-4" id="message">Enter Password To Edit Hisab</h1>
    
            <form>
                <div class="mb-4">
                    <label for="hisabname" class="block text-gray-700">Hisab Name: <%= data.title %></label>
                </div>
    
                <div class="mb-4">
                    <label for="password" class="block text-gray-700">Password:</label>
                    <input type="password" placeholder="Enter password" id="password" name="password" class="form-input mt-1 p-1 block w-full" required>
                    
                </div>
    
                <button type="button" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-200" id="btn">Submit</button>
            </form>
        </div>
    </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const encryptCheckbox = '<%= data.encrypt %>';
          
          // Check if encryptCheckbox evaluates to false
          if (encryptCheckbox === 'false' || !encryptCheckbox) {
             
              document.querySelector('#encrypted').classList.add('hidden');
              document.querySelector('#page').classList.remove('hidden');
          } 
  
          const button = document.querySelector("#btn");
          button.addEventListener("click", (e) => {
              e.preventDefault();
              const storedPassword = '<%= data.password %>';
              const password = document.querySelector('#password').value;
              if (password === storedPassword) {
                  document.querySelector('#encrypted').classList.add('hidden');
                  document.querySelector('#page').classList.remove('hidden');
              } else {
                  document.querySelector('#message').innerHTML = 'You Entered Wrong Password';
              }
          });
      });
  </script>
  </body>
</html>
